{% extends 'base.html' %}
{% load static %}

{% block title %} Cấu hình menu {% endblock %}

{% block content %}
{% include 'portals/sidebar.html' %}
{% include 'portals/navbar.html' %}

<div class="w-full lg:ps-68 bg-gray-50 dark:bg-slate-900 min-h-[calc(100vh-70px)]">
    <div class="p-4 sm:p-6 md:p-8 space-y-4 sm:space-y-6 animate-fadeIn">

        {% include 'components/breadcrumb/_menu_list_breadcrumb.html' %}
        
        {% include 'components/page_header/_page_header.html' %}

        <div class="flex flex-col bg-white border border-gray-200 rounded-md shadow-xs overflow-hidden">
            <div
                class="px-6 py-5 border-b border-gray-200 dark:border-slate-800 flex flex-col sm:flex-row sm:items-center justify-between gap-3">
                <div>
                    <h3 class="text-lg font-bold text-gray-800 dark:text-slate-200">Danh sách đơn vị thành viên</h3>
                    <p class="text-sm text-gray-500 dark:text-slate-400">Quản lý định danh, trạng thái tài nguyên và môi
                        trường phân tách.</p>
                </div>
            </div>

            <div class="overflow-x-auto w-full">
                
                {% include 'components/tables/_tenant_list_table.html' %}

            </div>
        </div>
    </div>
</div>

{% endblock %}