<div id="accordion-open" data-accordion="open" class="rounded-md border border-default overflow-hidden">
    
    {% include 'components/accordion/accordion_items/_basic_information.html' %}

    {% include 'components/accordion/accordion_items/_tenant_config.html' %}

    {% include 'components/accordion/accordion_items/_limited_resources.html' %}
    
    {% include 'components/accordion/accordion_items/_localization.html' %}
    
    {% include 'components/accordion/accordion_items/_settings_config.html' %}
</div>