amqp==5.3.1
asgiref==3.11.1
billiard==4.2.4
celery==5.6.3
click==8.4.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
crispy-tailwind==1.0.3
diff-match-patch==20241021
Django==6.0.5
django-appconf==1.2.0
django-browser-reload==1.21.0
django-cleanup==9.0.0
django-cors-headers==4.9.0
django-crispy-forms==2.6
django-environ==0.13.0
django-extensions==4.1
django-filter==25.2
django-import-export==4.4.1
django-libsass==0.9
django-redis==6.0.0
django_compressor==4.6.0
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
gunicorn==26.0.0
kombu==5.6.2
libsass==0.23.0
packaging==26.2
pillow==12.2.0
prompt_toolkit==3.0.52
psycopg2-binary==2.9.12
PyJWT==2.13.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
rcssmin==1.2.2
redis==7.4.0
rjsmin==1.2.5
six==1.17.0
sqlparse==0.5.5
tablib==3.9.0
tzdata==2026.2
tzlocal==5.3.1
vine==5.1.0
wcwidth==0.7.0
whitenoise==6.12.0
