{% if form.non_field_errors %}
<div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
    {{ form.non_field_errors }}
</div>
{% endif %}

<form
    action="{% if object %}{% url 'asset_category_update' object.id %}{% else %}{% url 'asset_category_create' %}{% endif %}"
    method="POST" class="space-y-6" autocomplete="off">
    {% csrf_token %}

    <div class="grid grid-cols-1 gap-6">
        {% include 'components/forms/asset_categories/sections/_basic_information.html' %}
    </div>

    <div class="pt-6 border-t border-gray-200 dark:border-slate-800 flex justify-end gap-3">
        {% include 'components/forms/asset_categories/sections/_button_action.html' %}
    </div>
</form>