{% load static %}

<div class="space-y-1.5 {{ wrapper_class }}">
    {% if label %}
    <label
        for="{{ id }}"
        class="block text-sm font-medium text-gray-700 dark:text-slate-300">
        {{ label }}
        {% if required %}
        <span class="text-red-500">*</span>
        {% endif %}
    </label>
    {% endif %}

    <div class="relative">
        {% if icon %}
        <div class="absolute inset-y-0 left-0 flex items-center pl-4 pointer-events-none text-gray-400 z-10">
            <img src="{% static icon %}" alt="" class="size-4">
        </div>
        {% else %}
        <div class="absolute inset-y-0 left-0 flex items-center pl-4 pointer-events-none text-gray-400 z-10">
            <svg class="size-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.8" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5" />
            </svg>
        </div>
        {% endif %}

        <input
            id="{{ id }}"
            name="{{ name }}"
            type="text"
            value="{{ value }}"
            placeholder="{{ placeholder }}"
            autocomplete="off"

            {% if required %}required{% endif %}
            {% if disabled %}disabled{% endif %}
            {% if readonly %}readonly{% endif %}

            {% for key, val in attrs.items %}
                {{ key }}="{{ val }}"
            {% endfor %}

            /* Tạo biến data chứa chuỗi class Tailwind chuẩn xác để JS nạp vào */
            data-input-class="w-full border-[1.5px] {% if error %}border-red-500 hover:border-red-500 focus:border-red-500{% else %}border-gray-200 hover:border-blue-400 focus:border-blue-500{% endif %} rounded-md bg-white transition-all focus:ring-0 dark:bg-slate-800 dark:border-slate-700 dark:text-gray-200 pl-11 {% if size == 'sm' %} py-2 text-xs {% elif size == 'lg' %} py-4 text-base {% else %} py-3 text-sm {% endif %} {{ input_class }}"
            
            class="hidden"
        >
    </div>

    {% if help_text %}
    <p class="text-xs text-gray-500">
        {{ help_text }}
    </p>
    {% endif %}

    {% if error %}
    <p class="text-xs text-red-500">
        {{ error }}
    </p>
    {% endif %}
</div>