<div class="space-y-1.5 {{ wrapper_class }}">
    {% if label %}
    <label for="{{ id }}" class="block text-sm font-medium text-gray-700 dark:text-slate-300">
        {{ label }}
        {% if required %}
        <span class="text-red-500">*</span>
        {% endif %}
    </label>
    {% endif %}

    <div class="cms-filepond-container">
        <input
            id="{{ id }}"
            type="file"
            name="{{ name }}"
            
            {% if required %}required{% endif %}
            {% if disabled %}disabled{% endif %}
            
            {% for key, val in attrs.items %}
                {{ key }}="{{ val }}"
            {% endfor %}
        >
    </div>

    {% if help_text %}
    <p class="text-xs text-gray-500">
        {{ help_text }}
    </p>
    {% endif %}

    {% if error %}
    <p class="text-xs text-red-500">
        {{ error }}
    </p>
    {% endif %}
</div>

<style>
    .filepond--root {
        font-family: inherit;
        margin-bottom: 0;
    }
    .filepond--panel-root {
        border: 1.5px dashed #e2e8f0;
        background-color: #ffffff;
        border-radius: 0.375rem !important; /* rounded-md */
        transition: all 0.2s;
    }
    .filepond--root:hover .filepond--panel-root {
        border-color: #60a5fa; /* hover:border-blue-400 */
    }
    /* Dark Mode */
    .dark .filepond--panel-root {
        border-color: #334155;
        background-color: #1e293b; /* dark:bg-slate-800 */
    }
    .dark .filepond--drop-label {
        color: #94a3b8;
    }
</style>