<div class="space-y-1.5 {{ wrapper_class }}">
    {% if label %}
    <label for="{{ id }}" class="block text-sm font-medium text-gray-700 dark:text-slate-300">
        {{ label }}
        {% if required %}
        <span class="text-red-500">*</span>
        {% endif %}
    </label>
    {% endif %}

    <div class="cms-filepond-container">
        <input
            id="{{ id }}"
            type="file"
            name="{{ name }}"
            
            {% if required %}required{% endif %}
            {% if disabled %}disabled{% endif %}
            
            {% for key, val in attrs.items %}
                {{ key }}="{{ val }}"
            {% endfor %}
        >
    </div>

    {% if help_text %}
    <p class="text-xs text-gray-500">
        {{ help_text }}
    </p>
    {% endif %}

    {% if error %}
    <p class="text-xs text-red-500">
        {{ error }}
    </p>
    {% endif %}
</div>