{% load static %}
<div class="space-y-1.5 {{ wrapper_class }}">
    {% if label %}
    <label
        for="{{ id }}"
        class="block text-sm font-medium text-gray-700 dark:text-slate-300">
        {{ label }}
        {% if required %}
        <span class="text-red-500">*</span>
        {% endif %}
    </label>
    {% endif %}

    <div class="relative">
        {% if icon %}
        <div
            class="absolute inset-y-0 left-0 flex items-center pl-4 pointer-events-none text-gray-400">
            <img src="{% static icon %}" alt="" class="size-4">
        </div>
        {% endif %}
        {% if type == "color" %}
        <div
            x-data="{ color: '{{ value|default:'#000000' }}' }"
            class="flex items-center gap-2"
        >
            <input
                id="{{ id }}"
                name="{{ name }}"
                type="color"
                x-model="color"
                value="{{ value|default:'#000000' }}"
                class="h-10 w-16 p-1 border border-gray-200 rounded cursor-pointer"
            >
            <span
                class="text-sm text-gray-600 font-mono"
                x-text="color">
            </span>
        </div>
        {% else %}
        <input
            id="{{ id }}"
            name="{{ name }}"
            type="{{ type }}"
            value="{{ value }}"
            placeholder="{{ placeholder }}"
            {% if required %}required{% endif %}
            {% if disabled %}disabled{% endif %}
            {% if readonly %}readonly{% endif %}
            {% for key, value in attrs.items %}
                {{ key }}="{{ value }}"
            {% endfor %}
            class="w-full border-[1.5px] border-gray-200 rounded-md bg-white transition-all hover:border-blue-400 focus:border-blue-500 focus:ring-0 dark:bg-slate-800 dark:border-slate-700 dark:text-gray-200 {% if icon %} pl-11 {% else %} px-4 {% endif %} {% if size == 'sm' %} py-2 text-xs {% elif size == 'lg' %} py-4 text-base {% else %} py-3 text-sm {% endif %} {{ input_class }}">
        {% endif %}
    </div>
    {% if help_text %}
    <p class="text-xs text-gray-500">
        {{ help_text }}
    </p>
    {% endif %}
    {% if error %}
    <p class="text-xs text-red-500">
        {{ error }}
    </p>
    {% endif %}
</div>