<div id="global-loader"
    class="fixed inset-0 z-9999 flex items-center justify-center bg-white opacity-0 pointer-events-none transition-opacity duration-300 ease-out motion-reduce:transition-none">
    <div
        class="flex flex-col items-center gap-4 transform scale-95 transition-transform duration-300 ease-out motion-reduce:transition-none loader-content">
        <div class="relative w-20 h-20">
            <svg class="absolute inset-0 w-full h-full animate-spin z-10" viewBox="0 0 50 50">
                <circle cx="25" cy="25" r="20" fill="none" stroke="orange" stroke-width="3" stroke-linecap="round"
                    stroke-dasharray="90 60" />
            </svg>
        </div>
        <p class="text-md font-semibold text-white tracking-wide">
            Đang xử lý. Vui lòng đợi ...
        </p>
    </div>
</div>