{% if form.non_field_errors %}
    <div class="alert alert-danger">{{ form.non_field_errors }}</div>
{% endif %}

<form action="{% url 'tenant_create' %}" method="POST" enctype="multipart/form-data" class="space-y-6" autocomplete="off">
    {% csrf_token %}
    {% if form.errors %}
    <div class="p-4 mb-4 bg-red-100 border border-red-400 text-red-700 rounded">
        <strong>Form nhập liệu có lỗi:</strong>
        <ul>
            {% for field, errors in form.errors.items %}
                <li>{{ field }}: {{ errors|striptags }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    <div class="mb-4">
        {% include 'components/forms/sections/_basic_information.html' %}
        {% include 'components/forms/sections/_tenant_config.html' %}
        {% include 'components/forms/sections/_limited_resources.html' %}
        {% include 'components/forms/sections/_localization.html' %}
    </div>
    {% include 'components/forms/sections/_button_action.html' %}
</form>