<div x-data="{ 
    showAdvancedFilters: $persist(false).as('advanced_filter_state') 
    }" x-init="
    if ('{{ request.GET.status }}' && '{{ request.GET.status }}' !== 'all' || '{{ request.GET.plan }}' && '{{ request.GET.plan }}' !== 'all' || '{{ request.GET.created_at }}') {
        showAdvancedFilters = true;
    }
    }" class="border border-gray-200 dark:border-slate-800 p-4 bg-white dark:bg-slate-900 rounded-md space-y-4">

    <div class="flex items-center justify-between pb-3">
        <h1 class="text-base font-bold text-gray-800 dark:text-white flex items-center gap-2">
            <img src="{% static 'icons/sort.svg' %}" alt="sort" class="size-4">
            Bộ lọc nâng cao
        </h1>
    </div>

    <div class="flex flex-col gap-3 w-full">
        <form action="" method="get" class="w-full">
            <div class="flex flex-row items-center gap-3 w-full">

                <div class="flex-1 space-y-1">
                    {{ form.search_tenant }}
                    {% if form.search_tenant.errors %}<p class="text-red-500 text-xs mt-1">{{
                        form.search_tenant.errors.0 }}</p>{% endif %}
                </div>

                <div class="flex-1 space-y-1">
                    {{ form.sort_by }}
                    {% if form.sort_by.errors %}<p class="text-red-500 text-xs mt-1">{{ form.sort_by.errors.0 }}</p>{%
                    endif %}
                </div>

                <div class="flex-1">
                    <div>
                        {{ form.status }}
                    </div>
                    {% if form.status.errors %}
                        <p class="text-red-500 text-xs mt-1">{{ form.status.errors.0 }}</p>
                    {% endif %}
                </div>

                <div class="flex-1">
                    <div>
                        {{ form.plan }}
                    </div>
                    {% if form.plan.errors %}
                        <p class="text-red-500 text-xs mt-1">{{ form.plan.errors.0 }}</p>
                    {% endif %}
                </div>

                <div class="flex-1 flex items-center gap-2">
                    <a href="{{ request.path }}"
                        class="flex-1 text-center border border-gray-300 rounded-md py-3 text-sm font-semibold text-gray-600">Reset</a>
                    <button type="submit"
                        class="flex-1 bg-blue-600 text-white rounded-md py-3 text-sm font-semibold shadow-md">Áp
                        dụng</button>
                </div>
            </div>
        </form>
    </div>
</div>