<div class="border border-gray-200 p-4 bg-white rounded-md">
    <div class="flex flex-col sm:flex-row sm:items-center sm:justify-between gap-4 pb-5 dark:border-slate-800">
        <div>
            <h1 class="text-2xl font-bold text-gray-800 dark:text-white">
                {% if object %}Cập nhật nhóm quyền{% else %}Tạo nhóm quyền mới{% endif %}
            </h1>
            <p class="text-sm text-gray-500 dark:text-slate-400">Gộp chung các quyền hạn theo luồng xử lý hoặc nghiệp vụ lớn.</p>
        </div>
    </div>
</div>
