@import "tailwindcss";

/* npx @tailwindcss/cli -i ./static/src/css/input.css -o ./static/src/css/output.css --watch */

@import "flowbite/src/themes/default";

@plugin "flowbite/plugin";
@source "../../node_modules/flowbite";

/* MINIMAL THEME
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "flowbite/src/themes/minimal";
*/

/* ENTERPRISE THEME
@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "flowbite/src/themes/enterprise";
*/

/* PLAYFUL THEME
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap');
@import "flowbite/src/themes/playful";
*/

/* MONO THEME
@import "flowbite/src/themes/mono";
*/


/* Notyf Style v 1.0.0 */
.notyf__message {
    font-size: 0.85rem !important;
    line-height: 1.4; 
    white-space: normal;
    word-break: break-word;
    color: #ffffff !important;
}

.notyf__toast {
    min-width: 300px;
    max-width: 450px;
    border-radius: 8px;
}

/* Backdrop CSS v 1.0.0 */
.ui-backdrop {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 40;
    transition: opacity 0.2s ease;
}

.ui-backdrop.hidden {
    opacity: 0;
    pointer-events: none;
}

/* Spinner v 1.0.0 */
#global-loader.active {
    opacity: 1 !important;
    pointer-events: auto !important;
}

#global-loader.active .loader-content {
    transform: scale(1) !important;
}

.django-ag-grid-container {
    width: 100%;
}

.ag-theme-alpine {
    --ag-border-color: #e5e7eb;
    border: none !important;
    box-shadow: none !important;
}

.dark .ag-theme-alpine {
    --ag-border-color: #334155;
    --ag-background-color: #0f172a;
    --ag-header-background-color: #1e293b;
    --ag-foreground-color: #94a3b8;
}

.ag-cell {
    white-space: nowrap !important;
    display: flex;
    align-items: center;
}

#menu-item-grid-search {
    border-radius: 5px !important;
}

#tenant-grid-search {
    border-radius: 6px !important;
}

.input-grid-search {
    border-radius: 6px !important;
}