<div class="space-y-4 p-4 rounded-md bg-white border border-gray-200 mb-15 dark:bg-slate-900 dark:border-slate-800">
    <h3 class="text-sm font-semibold text-gray-400 uppercase tracking-wider border-b border-gray-100 dark:border-slate-800 pb-1">
        Quy chế hoạt động & Ghi chú
    </h3>

    <div class="space-y-1">
        <label for="{{ form.is_active.id_for_label }}" class="block text-sm font-medium text-gray-700 dark:text-gray-300">
            {{ form.is_active.label }} <span class="text-red-500">*</span>
        </label>
        {{ form.is_active }}
        {% if form.is_active.errors %}<p class="text-red-500 text-xs mt-1">{{ form.is_active.errors.0 }}</p>{% endif %}
    </div>

    <div class="space-y-1">
        <label for="{{ form.description.id_for_label }}" class="block text-sm font-medium text-gray-700 dark:text-gray-300">
            {{ form.description.label }}
        </label>
        {{ form.description }}
        {% if form.description.errors %}<p class="text-red-500 text-xs mt-1">{{ form.description.errors.0 }}</p>{% endif %}
    </div>
</div>
