<div class="border border-gray-200 p-4 bg-white rounded-md">
    <div class="flex flex-col sm:flex-row sm:items-center sm:justify-between gap-4 pb-5 dark:border-slate-800">
        <div>
            <h1 class="text-2xl font-bold text-gray-800 dark:text-white">
                Danh sách tài sản cố định
            </h1>
            <p class="text-sm text-gray-500 dark:text-slate-400">Quản lý vòng đời, khấu hao và kiểm kê tài sản cố định doanh nghiệp.</p>
        </div>
        <div>
            <a href="{% url 'asset_create' %}"
            class="inline-flex items-center justify-center gap-x-2 font-semibold rounded-md transition-all duration-200 focus:outline-none active:scale-[0.98] py-2.5 px-4 text-sm bg-blue-600 text-white hover:bg-blue-700 shadow-md shadow-blue-500/20">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-4 h-4">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                </svg>
                Tạo tài sản
            </a>
        </div>
    </div>
</div>