{% if form.non_field_errors %}
    <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
        {{ form.non_field_errors }}
    </div>
{% endif %}

<form action="{% if object %}{% url 'storage_unit_update' object.id %}{% else %}{% url 'storage_unit_create' %}{% endif %}" method="POST" class="space-y-6" autocomplete="off">
    {% csrf_token %}

    <div class="mb-4">
        {% include 'components/forms/storage_units/sections/_storage_identity_and_tenancy.html' %}
        {% include 'components/forms/storage_units/sections/_storage_details.html' %}
    </div>

    {% include 'components/forms/storage_units/sections/_button_action.html' %}
</form>
