{% extends 'base.html' %}
{% load static %}

{% block title %} Chi tiết tenant {{ tenant.name }} {% endblock %}

{% block content %}
{% include 'portals/sidebar.html' %}
{% include 'portals/navbar.html' %}

<div class="w-full lg:ps-68 bg-gray-50 dark:bg-slate-900 min-h-[calc(100vh-70px)]">
    <div class="p-4 sm:p-6 md:p-8 space-y-4 sm:space-y-6 animate-fadeIn">

        {% include 'components/breadcrumb/_tenant_detail_breadcrumb.html' %}

        <div class="flex gap-3 flex-wrap">
            <a href="{% url 'tenant_list' %}"
            class="inline-flex items-center gap-2 px-4 py-2 text-sm font-medium text-gray-600 dark:text-gray-300 bg-white dark:bg-slate-800 border border-gray-200 dark:border-slate-700 rounded-md hover:bg-gray-50 dark:hover:bg-slate-700 transition-all">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-4 h-4">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18" />
                </svg>
                
                Quay về trang danh sách
            </a>
            <a href="{% url 'tenant_update' tenant.uuid %}"
            class="inline-flex items-center gap-2 px-4 py-2 text-sm font-medium text-white bg-blue-600 hover:bg-blue-700 rounded-md transition-all">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-4 h-4">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L6.832 19.82a4.5 4.5 0 0 1-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 0 1 1.13-1.897L16.863 4.487Zm0 0L19.5 7.125" />
                </svg>
                
                Chỉnh sửa
            </a>
        </div>

        <div class="w-full bg-white">
            
            {% include 'components/accordion/tenants/_tenant_detail_accordion.html' %}

        </div>
    </div>
</div>

{% endblock %}