<div id="accordion-open" data-accordion="open" class="rounded-md border border-default overflow-hidden">
    {% include 'components/accordion/assets/accordion_items/_general_information_classification.html' %}
    {% include 'components/accordion/assets/accordion_items/_asset_identity_metadata.html' %}
    {% include 'components/accordion/assets/accordion_items/_custody_location_allocation.html' %}
    {% include 'components/accordion/assets/accordion_items/_financials_depreciation_ledger.html' %}
    {% include 'components/accordion/assets/accordion_items/_lifecycle_status_operations.html' %}
</div>
