{% extends 'base.html' %}
{% load static %}

{% block title %} {% if object %}Cập nhật{% else %}Tạo{% endif %} nhóm quyền {% endblock %}

{% block content %}
{% include 'portals/sidebar.html' %}
{% include 'portals/navbar.html' %}

<div class="w-full lg:ps-68 bg-gray-50 dark:bg-slate-900 min-h-[calc(100vh-70px)]">
    <div class="p-4 sm:p-6 md:p-8 space-y-4 sm:space-y-6 animate-fadeIn">

        {% include 'components/breadcrumb/_group_permission_create_breadcrumb.html' %}
        
        {% include 'components/page_header/_group_permission_create_page_header.html' %}

        <div class="rounded-md">
            {% include 'components/forms/group_permissions/_form.html' %}
        </div>
    </div>
</div>

{% endblock %}