<div class="space-y-4 p-4 rounded-md bg-white border border-gray-200 mb-4">
    <h3
        class="text-sm font-semibold text-gray-400 uppercase tracking-wider border-b border-gray-100 dark:border-slate-800 pb-1">
        Giới hạn tài nguyên
    </h3>
    <div>
        <div class="grid grid-cols-3 gap-3">
            <div class="space-y-1">
                <label for="{{ form.max_users.id_for_label }}" class="block text-sm font-medium text-gray-700">{{ form.max_users.label }} <span class="text-red-500">*</span></label>
                {{ form.max_users }}
                {% if form.max_users.errors %}<p class="text-red-500 text-xs mt-1">{{ form.max_users.errors.0 }}</p>{% endif %}
            </div>
            <div class="space-y-1">
                <label for="{{ form.max_branches.id_for_label }}" class="block text-sm font-medium text-gray-700">{{ form.max_branches.label }} <span class="text-red-500">*</span></label>
                {{ form.max_branches }}
                {% if form.max_branches.errors %}<p class="text-red-500 text-xs mt-1">{{ form.max_branches.errors.0 }}</p>{% endif %}
            </div>
            <div class="space-y-1">
                <label for="{{ form.max_vehicles.id_for_label }}" class="block text-sm font-medium text-gray-700">{{ form.max_vehicles.label }} <span class="text-red-500">*</span></label>
                {{ form.max_vehicles }}
                {% if form.max_vehicles.errors %}<p class="text-red-500 text-xs mt-1">{{ form.max_vehicles.errors.0 }}</p>{% endif %}
            </div>
        </div>
    </div>
</div>