<div class="space-y-4 p-4 rounded-md bg-white border border-gray-200 mb-4">
    <h3
        class="text-sm font-semibold text-gray-400 uppercase tracking-wider border-b border-gray-100 dark:border-slate-800 pb-1">
        Cấu hình
    </h3>

    <div>
        <label for="{{ form.logo_url.id_for_label }}" class="block text-sm font-medium text-gray-700">{{ form.logo_url.label }}</label>
        {{ form.logo_url }}
        {% if form.logo_url.errors %}<p class="text-red-500 text-xs mt-1">{{ form.logo_url.errors.0 }}</p>{% endif %}
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
        

        <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
            <div>
                {% component "datepicker" name="subscription_started_at" label="Ngày bắt đầu gói" min_date="today"
                placeholder="Chọn ngày bắt đầu" required=True %}{% endcomponent %}
            </div>

            <div>
                {% component "datepicker" name="subscription_expires_at" label="Ngày kết thúc gói" min_date="today"
                placeholder="Chọn ngày kết thúc" required=True %}{% endcomponent %}
            </div>
        </div>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
        <div>
            {% component "input" type="color" name="primary_color" label="Màu chủ đạo" required=True %}{% endcomponent
            %}
        </div>

        <div>
            <span class="block text-sm font-medium text-gray-700 dark:text-slate-300"> Trạng thái tenant <span class="text-red-500">*</span></span>
            <div class="grid grid-cols-3 gap-3 mt-1">
                <label for="statusActive" name="is_active"
                    class="flex items-center gap-3 p-3 w-full bg-layer border border-layer-line rounded-lg text-sm focus:border-primary-focus focus:ring-primary-focus">
                    <input type="radio" name="status"
                        class="shrink-0 size-4 bg-transparent border-line-3 rounded-full shadow-2xs text-primary focus:ring-0 focus:ring-offset-0 checked:bg-primary-checked checked:border-primary-checked disabled:opacity-50 disabled:pointer-events-none"
                        id="statusActive" checked value="True">
                    <span class="text-sm ms-3 text-muted-foreground-1">Kích hoạt</span>
                </label>

                <label for="statusInactive" name="is_active"
                    class="flex items-center gap-3 p-3 w-full bg-layer border border-layer-line rounded-lg text-sm focus:border-primary-focus focus:ring-primary-focus">
                    <input type="radio" name="status" value="False"
                        class="shrink-0 size-4 bg-transparent border-line-3 rounded-full shadow-2xs text-primary focus:ring-0 focus:ring-offset-0 checked:bg-primary-checked checked:border-primary-checked disabled:opacity-50 disabled:pointer-events-none"
                        id="statusInactive">
                    <span class="text-sm ms-3 text-muted-foreground-1">Ngừng kích hoạt</span>
                </label>
            </div>
        </div>
    </div>
    <div x-data="{ currency: '' }" class="grid grid-cols-1 sm:grid-cols-2 gap-4">
        <div>
            <label for="currency" class="block text-sm font-medium text-gray-700 dark:text-slate-300">
                Đơn vị tiền tệ <span class="text-red-500">*</span>
            </label>

            <select
                name="currency"
                id="currency"
                x-model="currency"
                required
                class="w-full py-3 mt-1 border-[1.5px] border-gray-200 rounded-md text-sm hover:border-blue-500 focus:border-blue-500 focus:ring-0 focus:border-[1.5px] transition-all dark:bg-slate-800 dark:border-slate-700 dark:text-gray-200"
            >
                <option value="">Chọn đơn vị tiền tệ</option>
                <option value="USD">Đồng Đô La Mỹ</option>
                <option value="VND" selected>Việt Nam Đồng</option>
            </select>
        </div>

        <div x-show="currency === 'USD'" x-transition>
            <label for="exchange_rate" class="block text-sm font-medium text-gray-700 dark:text-slate-300">
                Tỉ giá <span class="text-red-500">*</span>
            </label>

            <input
                type="number"
                name="exchange_rate"
                id="exchange_rate"
                :required="currency === 'USD'"
                step="0.01"
                class="w-full py-3 mt-1 border-[1.5px] border-gray-200 rounded-md text-sm hover:border-blue-500 focus:border-blue-500 focus:ring-0 focus:border-[1.5px] transition-all dark:bg-slate-800 dark:border-slate-700 dark:text-gray-200"
            >
        </div>
    </div>
</div>