<thead class="bg-gray-50/70 dark:bg-slate-800/50 whitespace-nowrap">
    <tr>
        <th scope="col" class="px-6 py-3.5 text-start text-xs font-bold uppercase text-gray-400 tracking-wider">
            #</th>
        <th scope="col" class="px-6 py-3.5 text-start text-xs font-bold uppercase text-gray-400 tracking-wider">
            Code</th>
        <th scope="col" class="px-6 py-3.5 text-start text-xs font-bold uppercase text-gray-400 tracking-wider">
            Tên tenant</th>
        <th scope="col" class="px-6 py-3.5 text-start text-xs font-bold uppercase text-gray-400 tracking-wider">
            Domain</th>
        <th scope="col" class="px-6 py-3.5 text-start text-xs font-bold uppercase text-gray-400 tracking-wider">
            Logo</th>
        <th scope="col" class="px-6 py-3.5 text-end text-xs font-bold uppercase text-gray-400 tracking-wider">
            Primary Color</th>
        <th scope="col" class="px-6 py-3.5 text-start text-xs font-bold uppercase text-gray-400 tracking-wider">
            Trang thái</th>
        <th scope="col" class="px-6 py-3.5 text-start text-xs font-bold uppercase text-gray-400 tracking-wider">
            Người dùng tối đa</th>
        <th scope="col" class="px-6 py-3.5 text-start text-xs font-bold uppercase text-gray-400 tracking-wider">
            Chi nhánh tối đa</th>
        <th scope="col" class="px-6 py-3.5 text-start text-xs font-bold uppercase text-gray-400 tracking-wider">
            Phương tiên tối đa</th>
        <th scope="col" class="px-6 py-3.5 text-end text-xs font-bold uppercase text-gray-400 tracking-wider">Kế
            hoạch</th>
        <th scope="col" class="px-6 py-3.5 text-start text-xs font-bold uppercase text-gray-400 tracking-wider">
            Timezone</th>
        <th scope="col" class="px-6 py-3.5 text-end text-xs font-bold uppercase text-gray-400 tracking-wider">
            Ngôn ngữ mặt định</th>
        <th scope="col" class="px-6 py-3.5 text-end text-xs font-bold uppercase text-gray-400 tracking-wider">
            Đơn vị tiền tệ</th>
        <th scope="col" class="px-6 py-3.5 text-end text-xs font-bold uppercase text-gray-400 tracking-wider">Tỉ
            giá tiền tệ</th>
        <th scope="col" class="px-6 py-3.5 text-start text-xs font-bold uppercase text-gray-400 tracking-wider">
            Thời gian tạo</th>
        <th scope="col" class="px-6 py-3.5 text-start text-xs font-bold uppercase text-gray-400 tracking-wider">
            Thời gian cập nhật</th>
        <th scope="col" class="px-6 py-3.5 text-end text-xs font-bold uppercase text-gray-400 tracking-wider">
            Thao tác</th>
    </tr>
</thead>