{% include 'components/ui/_catch_error_form.html' %}

<form action="{% if object %}{% url 'user_update' object.id %}{% else %}{% url 'user_create' %}{% endif %}" method="POST" class="space-y-6" autocomplete="off">
    {% csrf_token %}

    <div class="mb-4">
        {% include 'components/forms/users/sections/_basic_information.html' %}
        {% include 'components/forms/users/sections/_profile_details.html' %}
        {% include 'components/forms/users/sections/_user_config.html' %}
        {% include 'components/forms/users/sections/_account_config.html' %}
        {% include 'components/forms/users/sections/_audit_tracking.html' %}
    </div>

    {% include 'components/forms/users/sections/_button_action.html' %}
</form>
