{% load static %}
{% load django_vite %}

<!DOCTYPE html>
<html lang="vi" class="min-h-screen">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <style>
        html { opacity: 0; transition: opacity 0.1s ease-in; }
    </style>

    {% vite_hmr_client %}

    {% vite_asset 'static/src/css/input.css' %}

    {% vite_asset 'static/src/js/app.js' %}

    <script src="https://cdn.jsdelivr.net/npm/pace-js@latest/pace.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pace-js@latest/pace-theme-default.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/airbnb.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

</head>

<body class="min-h-screen bg-white dark:bg-slate-900" data-timeout-url="{% url 'login' %}">

    {% include 'components/ui/spinner.html' %}

    {% block content %}
    {% endblock %}

    <div id="toast-data"
        style="display:none;"
        data-messages="[{% for msg in messages %}{'text': '{{ msg|escapejs }}', 'tags': '{{ msg.tags }}'}{% if not forloop.last %},{% endif %}{% endfor %}]">
    </div>

    <div class="ui-backdrop fixed inset-0 z-50 bg-black/50 hidden transition-opacity"></div>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
    <script>
        window.addEventListener('load', function() {
            document.documentElement.style.opacity = '1';
        });
    </script>
    <script src="{% static 'src/js/utils/session_timeout.js' %}"></script>
</body>

</html>