{% load static %}

<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="{% static 'css/output.css' %}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <script src="https://cdn.jsdelivr.net/npm/preline@4.2.0/dist/preline.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/preline@4.2.0/css/themes/theme.min.css" rel="stylesheet">
</head>
<body>

    {% block content %}
    {% endblock %}

    <script>
        window.HSStaticMethods?.autoInit();
    </script>

</body>
</html>