{% if form.non_field_errors %}
    <div class="alert alert-danger">{{ form.non_field_errors }}</div>
{% endif %}

<form action="{% if object %}{% url 'tenant_update' object.uuid %}{% else %}{% url 'tenant_create' %}{% endif %}" method="POST" enctype="multipart/form-data" class="space-y-6" autocomplete="off">
    {% csrf_token %}

    <div class="mb-4">
        {% include 'tenants/components/forms/sections/_basic_information.html' %}
        {% include 'tenants/components/forms/sections/_tenant_config.html' %}
        {% include 'tenants/components/forms/sections/_limited_resources.html' %}
        {% include 'tenants/components/forms/sections/_localization.html' %}
        {% include 'tenants/components/forms/sections/_settings_config.html' %}
    </div>
    {% include 'tenants/components/forms/sections/_button_action.html' %}
</form>